@import "~bootstrap/less/variables";

.tw-comparison-table {
  .no-text-wrap {
    display: block;
    white-space: nowrap !important;
  }

  th {
    padding-left: 24px !important;
    padding-right: 24px !important;
    font-weight: normal;
  }

  td {
    padding-right: 24px !important;
    padding-left: 24px !important;
  }

  .highest-amount {
    font-size: 18px;

    @media (min-width: @screen-sm-min) {
      font-size: 22px;
    }
  }

  .provider-logo {
    max-width: 6em;
    max-height: 2em;

    @media (min-width: @screen-sm-min) {
      max-width: 8em;
    }
  }

  .card {
    a {
      text-decoration: none;
    }

    .item {
      border-bottom: 1px solid @brand-smoke-plus-20 !important;
      border-left: 1px solid @brand-smoke-plus-20 !important;
      border-right: 1px solid @brand-smoke-plus-20 !important;
    }

    .rounded-bottom-corners {
      border-bottom-left-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }

    .card-label {
      font-size: 14px !important;
      color: @brand-grey-plus-10 !important;
    }
  }
}
